body {
  font-family: "Lora", serif;
}

.home, .home:visited, .home:link, .home:active {
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 20px;
}

#main {
  margin-top: 50px;
  border: 1px solid #acacac;
  padding: 30px;
  color: #444;
  -moz-box-shadow:    -15px 15px 0px -3px #ccc;
  -webkit-box-shadow: -15px 15px 0px -3px #ccc;
  box-shadow:         -15px 15px 0px -10px #ccc;
}

#quotemark {
  font-family: serif;
}

#author {
  font-style: italic;
  padding-bottom: 10px;
}

.btn {
  border-radius: 0px;
}

footer {
  margin: 25px;
  position: relative;
}

.footer-link, .footer-link:hover {
  color: #000;
  text-decoration: none;
}
